<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - AWS</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{{ url_for('views.home') }}"><img src="../static/images/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{{ url_for('views.home') }}">Home</a></li>
                    <li><a href="{{ url_for('products.home') }}">Products</a></li>
                    <li><a href="{{ url_for('about.home') }}">About</a></li>
                    <li><a href="{{ url_for('contact.home') }}">Contact</a></li>
                    <li><a href="{{ url_for('account.redirect_account') }}">Account</a></li>
                    <li><a href="{{ url_for('account.redirect_account') }}">User Account</a></li>
                </ul>
            </nav>
            <a href="{{ url_for('cart.home') }}"><img src="../static/images/cart.png" width="30px" height="30px"></a>
            <img src="../static/images/menu.png" class="menu-icon" onClick="menutoggle()">
        </div>
    </div>

    <div class="small-container about-page">
        <div class="row">
            <div class="col-2">
                <img src="../static/images/basketball.png" alt="About Us">
            </div>
            <div class="col-2 col-2-text">
                <h3>About Us</h3>
                <p>We are a team passionate about sports and technology, with the goal of bringing the best products and services to our customers. At AWS, we believe that sports are not just an activity, but a lifestyle. We continually strive to provide the best experiences for our customers.</p>                
                
                <h3>Our Mission</h3>
                <p>Our mission is to provide high-quality products and services that meet customer needs and contribute to improving the quality of life through sports.</p>
                
                <h3>Our Vision</h3>
                <p>We aim to become a leading brand in the field of sports and technology, continuously innovating and creating sustainable value for our customers and the community.</p>
            </div>
        </div>
    </div>

    <!----------------------------------footer-------------------------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-2">
                    <img src="../static/images/logo-white.png" alt="AWS Logo">
                    <p>Sports is not just an activity, but also a lifestyle.</p>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://github.com/SmrfHdl" target="_blank">Phạm Văn Trường</a></li>
                        <li><a href="https://github.com/UETER2226" target="_blank">Đỗ Quang Dũng</a></li>
                        <li><a href="https://github.com/hieu7404" target="_blank">Lê Trung Hiếu</a></li>
                        <li><a href="https://github.com/angWindy" target="_blank">Trần An Thắng</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Alone Wolf Team</p>
        </div>
    </div>

    <!-----------------------------------js for toggle menu------------------------------------------------>
    <script>
        var menuItems=document.getElementById("MenuItems");
        
        MenuItems.style.maxHeight="0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight="200px";
            }
            else{
                MenuItems.style.maxHeight="0px";
            }
        }
    </script>
</body>

</html>
