<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin - AWS</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{{ url_for('views.home') }}"><img src="../static/images/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{{ url_for('views.home') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('products.home') }}">Sản phẩm</a></li>
                    <li><a href="{{ url_for('about.home') }}">Thông tin</a></li>
                    <li><a href="{{ url_for('contact.home') }}">Liên hệ</a></li>
                    <li><a href="{{ url_for('account.home') }}">Tài khoản</a></li>
                </ul>
            </nav>
            <a href="{{ url_for('cart.home') }}"><img src="../static/images/cart.png" width="30px" height="30px"></a>
            <img src="../static/images/menu.png" class="menu-icon" onClick="menutoggle()">
        </div>
    </div>

    <div class="small-container about-page">
        <div class="row">
            <div class="col-2">
                <img src="../static/images/mbappe.png" alt="About Us">
            </div>
            <div class="col-2 col-2-text">
                <h3>Về chúng tôi</h3>
                <p>Chúng tôi là một đội ngũ đam mê thể thao và công nghệ, với mục tiêu mang đến những sản phẩm và dịch vụ tốt nhất cho khách hàng. Tại AWS, chúng tôi tin rằng thể thao không chỉ là một hoạt động, mà còn là một lối sống. Chúng tôi luôn nỗ lực không ngừng để đem đến những trải nghiệm tuyệt vời nhất cho khách hàng của mình.</p>
                
                <h3>Sứ mệnh của chúng tôi</h3>
                <p>Sứ mệnh của chúng tôi là cung cấp các sản phẩm và dịch vụ chất lượng cao, đáp ứng nhu cầu của khách hàng và góp phần nâng cao chất lượng cuộc sống thông qua thể thao.</p>
                
                <h3>Tầm nhìn của chúng tôi</h3>
                <p>Chúng tôi hướng đến trở thành thương hiệu hàng đầu trong lĩnh vực thể thao và công nghệ, không ngừng đổi mới và sáng tạo để mang lại giá trị bền vững cho khách hàng và cộng đồng.</p>
            </div>
        </div>
    </div>

    <!----------------------------------footer-------------------------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-2">
                    <img src="../static/images/logo-white.png" alt="AWS Logo">
                    <p>Thể thao không chỉ là một hoạt động, mà còn là lối sống.</p>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://github.com/SmrfHdl" target="_blank">Phạm Văn Trường</a></li>
                        <li><a href="https://github.com/UETER2226" target="_blank">Đỗ Quang Dũng</a></li>
                        <li><a href="https://github.com/hieu7404" target="_blank">Lê Trung Hiếu</a></li>
                        <li><a href="https://github.com/angWindy" target="_blank">Trần An Thắng</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Alone Wolf Team</p>
        </div>
    </div>

    <!-----------------------------------js for toggle menu------------------------------------------------>
    <script>
        var menuItems=document.getElementById("MenuItems");
        
        MenuItems.style.maxHeight="0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight="200px";
            }
            else{
                MenuItems.style.maxHeight="0px";
            }
        }
    </script>
</body>

</html>
