<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Cart - AWS</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="{{ url_for('views.home') }}"
            ><img src="../static/images/logo.png" width="125px"
          /></a>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a href="{{ url_for('views.home') }}">Home</a></li>
            <li><a href="{{ url_for('products.home') }}">Products</a></li>
            <li><a href="{{ url_for('about.home') }}">About</a></li>
            <li><a href="{{ url_for('contact.home') }}">Contact</a></li>
            <li>
              <a href="{{ url_for('account.redirect_account') }}">Account</a>
            </li>
            <li>
              <a href="{{ url_for('account.redirect_account') }}"
                >User Account</a
              >
            </li>
          </ul>
        </nav>
        <a href="{{ url_for('cart.home') }}"
          ><img src="../static/images/cart.png" width="30px" height="30px"
        /></a>
        <img
          src="../static/images/menu.png"
          class="menu-icon"
          onClick="menutoggle()"
        />
      </div>
    </div>

    <div class="small-container cart-page">
      {% if cart.items %}
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Size</th>
          <th>Subtotal</th>
        </tr>

        {% for item in cart.items %}
        <tr class="cart-item" data-item-id="{{ item.id }}">
          <td>
            <div class="cart-info">
              <img src="{{item.product.image}}" />
              <div>
                <p>{{item.product.name}}</p>
                <small class="product-price"
                  >Price: ${{item.product.price}}</small
                ><br />
                <a href="#" class="remove-btn">Remove</a>
              </div>
            </div>
          </td>
          <td>
            <input
              type="number"
              value="{{ item.quantity }}"
              class="quantity-input"
              min="1"
            />
          </td>
          <td class="size">{{item.size}}</td>
          <td class="subtotal">${{item.product.price * item.quantity}}</td>
        </tr>
        {% endfor %}
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Total</td>
            <td class="subtotal-price">${{cart.total_price}}</td>
          </tr>
          <tr>
            <td>
              <a href="{{ url_for('checkout.checkout') }}" class="btn"
                >Payment</a
              >
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <p>Your cart is empty.</p>
      <a href="{{ url_for('products.home') }}" class="btn">Continue Shopping</a>
      {% endif %}
    </div>
    <!----------------------------------footer-------------------------------------->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-2">
            <img src="../static/images/logo-white.png" />
            <p>Sports is not just an activity, but also a lifestyle.</p>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a href="https://github.com/SmrfHdl" target="_blank"
                  >Phạm Văn Trường</a
                >
              </li>
              <li>
                <a href="https://github.com/UETER2226" target="_blank"
                  >Đỗ Quang Dũng</a
                >
              </li>
              <li>
                <a href="https://github.com/hieu7404" target="_blank"
                  >Lê Trung Hiếu</a
                >
              </li>
              <li>
                <a href="https://github.com/angWindy" target="_blank"
                  >Trần An Thắng</a
                >
              </li>
            </ul>
          </div>
        </div>

        <hr />
        <!--horizontal line-->
        <p class="copyright">Alone Wolf Team</p>
      </div>
    </div>

    <!----------------------------------script for cart-------------------------------------->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const quantityInputs = document.querySelectorAll(".quantity-input");
        const subtotalPriceElement = document.querySelector(".subtotal-price");
        const totalPriceElement = document.querySelector(".total-price-value");

        quantityInputs.forEach((input) => {
          input.addEventListener("change", function () {
            const cartItem = this.closest(".cart-item");
            const itemId = cartItem.dataset.itemId;
            const newQuantity = this.value;

            updateQuantity(itemId, newQuantity, cartItem);
          });
        });

        document.querySelectorAll(".remove-btn").forEach((button) => {
          button.addEventListener("click", function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của nút "Remove"

            const cartItem = this.closest(".cart-item"); // Tìm phần tử cha chứa mục giỏ hàng
            const itemId = cartItem.dataset.itemId;

            removeItem(itemId, cartItem);
          });
        });

        function updateQuantity(itemId, newQuantity, cartItem) {
          fetch(`/cart/update_quantity`, {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `item_id=${itemId}&quantity=${newQuantity}`,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status === "success") {
                const priceElement = cartItem.querySelector(".product-price");
                const price = parseFloat(
                  priceElement.textContent.replace("Price: $", "")
                );
                const subtotalElement = cartItem.querySelector(".subtotal");
                const itemSubtotal = price * newQuantity;
                subtotalElement.textContent = `$${itemSubtotal.toFixed(2)}`;

                updateCartTotals();
              }
            });
        }

        function removeItem(itemId, cartItem) {
          fetch(`/cart/remove_item/${itemId}`, {
            method: "GET",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status === "success") {
                cartItem.remove();
                updateCartTotals();
              }
            });
        }

        function updateCartTotals() {
          let subtotal = 0;

          document.querySelectorAll(".cart-item").forEach((cartItem) => {
            const subtotalElement = cartItem.querySelector(".subtotal");
            const itemSubtotal = parseFloat(
              subtotalElement.textContent.replace("$", "")
            );
            subtotal += itemSubtotal;
          });

          subtotalPriceElement.textContent = `$${subtotal.toFixed(2)}`;
          totalPriceElement.textContent = `$${subtotal.toFixed(2)}`;
        }

        // Initial calculation
        updateCartTotals();
      });
    </script>
    <!-----------------------------------js for toggle menu------------------------------------------------>
    <script>
      var menuItems = document.getElementById("MenuItems");

      MenuItems.style.maxHeight = "0px";
      function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
          MenuItems.style.maxHeight = "200px";
        } else {
          MenuItems.style.maxHeight = "0px";
        }
      }
    </script>
  </body>
</html>
